.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;

  .title {
    font-size: 24px;
    margin-bottom: 25px;
    color: #0a2237;
  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}
